---
import { colonistUrl, type Lang, ui } from "../data/site";

type Props = {
  lang: Lang;
};

const { lang } = Astro.props;
const labels = ui[lang];
---

<aside class="sponsor" aria-label={labels.sponsorTitle}>
  <div class="sponsor-body">
    <img class="sponsor-logo" src="/colonist-logo.svg" alt="Colonist.io" width="48" height="48" loading="lazy" />
    <div>
      <span class="sponsor-title">{labels.sponsorTitle}</span>
      <p class="sponsor-text">{labels.sponsorText}</p>
    </div>
  </div>
  <a class="button" href={colonistUrl} rel="sponsored noopener" target="_blank">{labels.sponsorCta}</a>
</aside>
